[2014-01-31 01:17] ktoso opened #1 "LogCompactation / Snapshots"
Should be similar to akka persistence, in order to integrate https://github.com/ktoso/akka-persistence-hbase

See §5.3 in https://ramcloud.stanford.edu/wiki/download/attachments/11370504/raft.pdf

[2014-01-31 01:18] ktoso opened #2 "verify our logic behind the "did the right timeout trigger" makes sense IRL"

[2014-01-31 01:18] ktoso opened #3 "verify flow when catching up from "very behind""

[2014-01-31 01:18] ktoso opened #4 "akka-cluster awareness"

[2014-01-31 01:18] ktoso opened #5 "Distributed "like zookeeper" example"

[2014-01-31 01:19] ktoso opened #6 "Stress and long running tests"
Implement some long running tests using multi-jvm tests.
Also, make sure we can handle big numbers of nodes / members.

[2014-02-01 03:10] ktoso opened #7 "Use akka-persistence in order to persist log"
The `replicatedLog` could be persisted using akka-persitence.

[2014-02-02 02:11] ktoso opened #9 "Implement joint consensus on configuration changes"
Should implement joint consensus on cluster configuration to remedy this, see §6 in https://ramcloud.stanford.edu/wiki/download/attachments/11370504/raft.pdf

[2014-02-03 01:35] ktoso opened #10 "Upgrade sbt built to sbt 0.13"
- [ ] upgrade sbt
- [ ] find the right multi-jvm plugin version

[2014-02-03 23:26] #3 closed, assigned to ktoso

[2014-02-04 00:56] #9 closed, assigned to ktoso

[2014-02-05 16:33] #4 closed, assigned to ktoso

[2014-02-06 02:02] ktoso opened #11 "Change `ReplicatedLog` impl so that we don't rely on erasure to store "special" messages"
Storing "special messages" is a hack currently, MUST fix before releasing.

We store `Entry[Cmnd]`, where `type Cmnd = String` for example, but sometimes a Snapshot may be contained within the `Entry[_]`; safety is currently only assured because of matches "because we know" it might be there => must be moved into a typesafe representation.

[2014-02-06 02:29] ktoso opened #12 "Fail nicely, when the client's apply() is not definedAt"

[2014-02-07 10:39] patriknw opened #13 "Minor review comments"
Great work Konrad! I was curious to see how you had used Akka in this interesting project. Wrote a few minor comments. Let me know if you have any questions.

[code]

[2014-02-07 14:23] patriknw opened #14 "Support cluster node roles"
In a large cluster you probably want to run raft on a few nodes, not all. Let ClusterRaftActor only care about nodes with a specified cluster role.
http://doc.akka.io/docs/akka/2.3.0-RC2/scala/cluster-usage.html#Node_Roles

[2014-02-07 22:30] ktoso opened #15 "Simplify usage of akka-raft - RaftClientActor"
Simplify usage so that the client does not need to care too much about "who is the leader right now?", when sending messages to raft to process them

[2014-02-07 23:41] ktoso opened #16 "General cleanup before 1.0"
Todo:
- [ ] Update `Entry[]` to be _explicitly_ aware of "special" entries, such as snapshots etc. These should not be applied to the
- [ ] Cleanup log replication - there's two places we could replicate entries from; make it only rely on the heartbeat = less noise in the network.
- [ ] Increase the time for heartbeat - 50ms is way too often. Although ok for testing locally

[2014-02-08 04:08] ktoso opened #17 "Make raft actor names configurable"
Actors should take some name pattern from the config. "member-1" is not very descriptive when you have loads of them (or other actors which use this naming ;-)).

[2014-02-08 04:20] #13 closed, assigned to ktoso

[2014-02-09 02:09] #1 closed, assigned to ktoso

[2014-02-12 02:55] ktoso opened #18 "Improve auto discovery and cluster resizes in clustered mode"
There's an initial idea about using cluster events to add members automatically.
Currently this is not used during the raft-clusters lifetime, but only during initialisation.

Cleanup this code and reuse this mechanism when already initialised.

[2014-02-12 04:31] #14 closed, assigned to ktoso

[2014-02-16 12:14] #17 closed, assigned to ktoso

[2014-02-17 00:32] ktoso opened #19 "Update: 2 actors (cluster / raft) make it possible to leak raft "self", where clusterSelf needed, add checks?"
Since an raft actor's `matchIndex` etc are `ActorRef => Int` we must be warry of not exposing "sometimes the cluster ref and sometimes the raft ref". This makes the raft impl a bit weird at times..

The problem is very visible in: https://github.com/ktoso/akka-raft/commit/d65a00e8e06da4ce0a522a647998f94c1e63365f#diff-9ad0897621d0099532d800ab73511ac5R57 for example.

[2014-02-17 01:41] #12 closed, assigned to ktoso

[2014-06-07 17:40] cer opened #20 "Simple example continually logging: Consensus for persisted index: 1. (Comitted index: 1)..."
I created a simple example using the WordConcatRaftActor.

When I send a command using the RaftClientActor the update appears to work but then the following messages are logged continually:

   2014-06-07 10:34:22.265  INFO   --- [lt-dispatcher-6] n.c.grainger.main.WordConcatRaftActor    : Follower Actor[akka://eventStore/user/raft-member-2#1579065873] took write in term: Term(1), index: 1
   2014

[2014-07-01 17:24] cer opened #21 "Simple clustered code example?"
Do you have a simple example that shows how to use Akka-raft in an Akka cluster?

[2014-07-01 20:53] #21 closed, assigned to nobody

[2014-07-02 12:29] ktoso opened #22 "Investigate ordering issue while replay"
Wrong project ;)

[2014-07-07 14:29] #22 closed, assigned to nobody

[2015-01-16 12:44] ktoso opened #27 "Raft based auto-downing for the cluster"
Would be awesome.

[2015-04-15 13:55] schuster opened #28 "RPC response not always sent"
There is a number of cases in which a server does not send a response to an RPC request (even though every request should receive a response). Some of the cases I've seen:
* `Follower` does not respond to heartbeats
* `Candidate` does not respond to `AppendEntries` from a lagging leader
* `Leader` does not respond to `RequestVote`
* `Leader` does not respond to `AppendEntries` from a leader with a

[2015-04-15 14:05] schuster opened #29 "Follower should be able to vote more than once in a term"
Because Raft RPCs are idempotent, Followers should be able to vote for the same candidate more than once in a given term. This allows the candidate to receive a response in case the first response was dropped.

[2015-04-15 14:13] schuster opened #30 "Servers should check log consistency before granting vote"
Votes should only be granted when the candidate's log is at least as up-to-date as the voting server's log. See section 5.4.1 of the tech report.

[2015-04-15 14:17] schuster opened #31 "Candidate should have election restart timeout"
In the unlikely event that no candidate receives the majority vote for a given term, the candidates should timeout and start a new election. Currently there is no timeout, so eventually all servers in the cluster would transition to the Candidate state for the same term and get stuck.

[2015-04-15 14:30] schuster commented on #31
Relatedly, `beginElection` sets a timeout, but Candidate does not listen for StateTimeout messages, so the timeout would never be caught (if I'm reading things correctly). Even if that is fixed, the timeout would still need to be reset on a Candidate->Candidate transition in case multiple elections fail.

[2015-04-15 14:34] schuster opened #32 "Follower does not check consistency of AppendEntries"
If a follower has fallen very far behind, it might be the case that the leader sends it a batch of messages that starts past the end of the follower's log. In this case, the follower should reject the request, and the leader should send a new request starting at an earlier point in the log.

See section 5.3 (towards the end of that section) of the tech report for more details.

[2015-04-15 14:41] schuster opened #33 "Follower does not commit entries on receiving heartbeat"
If no new requests come in for a long time, it might be that the only way a follower knows to commit a request is to do so on a heartbeat message, so the commit logic should happen there, too.

Really, there should be no difference in the processing for heartbeats and non-heartbeats. A heartbeat is just an `AppendEntries` in which the list of new entries is empty, so an empty list is appended to t

[2015-04-15 14:46] schuster opened #34 "Election timeout reset twice on Follower->Candidate transition"
When a follower transitions to the candidate state because of an election timeout, the server resets its election timeout two times: once in `onTransition`, and once in `beginElection`. This isn't a correctness issue *per se*, but it's at least a code smell that indicates there should be a more consistent set of rules for timeout resets.

[2015-04-15 14:48] schuster opened #35 "DeclineCandidate from Candidate includes wrong term"
When a candidate responds to a `RequestVote` with `DeclineCandidate`, it should include its own term in the response instead of the request's term. This allows the candidate that sent the request to update its own term.

[2015-04-15 14:49] schuster opened #36 "Incorrect next index calculation for log"
If I'm reading the code correctly, `nextIndex` is based on the number of entries in the log. This won't work when log compaction is used, because a single compacted log entry counts for multiple index numbers.

[2015-04-15 15:12] schuster opened #37 "Inconsistent use of index numbers"
The index numbers used in the code are confusing and seem to be inconsistent. The indices in the log will start at 0. However, an `AppendEntries` with an empty list of entries to send will indicate its last index as 1, which would actually be the second index in the log (I would expect this to be 0).  I seem to recall similar issues, but can't seem to find them now.

The code should be consistent

[2015-04-15 15:14] schuster opened #38 "termAt can return wrong term for first item"
The `termAt` method will return the wrong term in the case where the first entry in the log actually comes from a term other than term 1 (could happen if multiple elections occur before a request is sent). This is related to the inconsistent use of index numbers - the test should be for an index less than 0, not less than or equal to.

[2015-04-15 15:17] schuster opened #39 "LeaderTest starts log at wrong index"
This test puts the first entry in the log at index 1, even though the log really starts at index 0. Again, this seems related to the inconsistent use of index numbers.

[2015-04-15 15:31] schuster opened #40 "Log compaction can cause append to take too many entries"
The call to ReplicatedLog.append in the Follower's append code does not take log compaction into account. If a log has been compacted, then taking a number of entries equal to the log index and appending the new entries to that will leave too many extra entries in the log (because the number of entries is not equal to the index of the last log entry in this case).

[2015-04-15 15:39] schuster opened #41 "Empty batch is sent with term 1/index 1"
In `AppendEntries.apply`, if a batch is empty (e.g. because the follower is completely caught up and we're sending a heartbeat), the message is sent with `prevLogTerm` 1 and `prevLogIndex` 1. This is not necessarily correct; the numbers should be based off of what is actually at the end of the log.

[2015-04-15 15:47] schuster opened #42 "indexOnMajority is wrong"
Instead of calculating the newest index that a majority of the servers have in their logs, `indexOnMajority` appears to calculate something like the "mode" of matching indices: it returns the index that the largest number of members have as their match index.

For example, say that a cluster of five servers have match indices 1, 1, 2, 3, and 4. The majority of servers have at least entry 2 in thei

[2015-04-15 15:48] schuster opened #43 "Follower does not reset election deadline after voting for a candidate"

[2015-04-15 15:58] schuster opened #44 "Not all states handle all protocol messages"
There are a few instances in which a server in a given state will not handle a given protocol message. Usually these messages would not be sent to servers in such states, but if a message is delayed long enough for the recipient to change states before receiving it, the message might arrive in that later state.

Instances found:
* Follower does not handle VoteCandidate, DeclineCandidate, AppendSuc

[2015-04-15 16:02] schuster opened #45 "Candidate does not distinguish between votes from same follower"
The Candidate state does not distinguish between multiple votes in the same term from the same follower, although it should. Otherwise, a candidate might get elected by the same follower (this will only happen if bug #29 is fixed as well to allow multiple votes from same follower).

[2015-04-15 16:04] schuster commented on #35
This got flipped in the VoteCandidate response in Candidate: the current implementation responds with the current term, whereas it should update its term with the one from the request and send that back instead.

[2015-04-15 16:07] schuster opened #46 "Candidate should check term in VoteCandidate messages"
Candidates currently don't check that a VoteCandidate message comes from a server in the expected term. This could allow a candidate to be elected by votes from a previous term whose delivery was severely delayed.

[2015-04-25 17:29] colin-scott opened #47 "Two Leaders Elected in the Same Term"
Hello,

I have a test case that, as far as I can tell, causes akka-raft to violate Raft's "Election Safety" property (see Figure 3 from the [paper](http://ramcloud.stanford.edu/raft.pdf)), i.e. it appears that two leaders are elected for the same term.

The test case consists of the following external events:

- Start 9 RaftActors, named "raft-member-{1-9}".
- Bootstrap all but one of the RaftActo

[2015-04-25 17:32] colin-scott commented on #46
In fact, I have a [test case](https://github.com/ktoso/akka-raft/issues/47) that appears to trigger that behavior.

[2015-04-25 17:42] colin-scott opened #48 "Crash: "Unable to find log entry at index 2""
I found the following stacktrace while fuzz testing akka-raft. Unfortunately I do not have a reproducible test case for this one:

[code]

[2015-04-27 10:49] ktoso commented on #47
Excellent work Colin, looks really good. I need to find the time to go over your discovery!

[2015-05-18 04:27] colin-scott opened #49 "Members should not respond with Vote if sender is not in Configuration"
Suppose there are 5 nodes, labeled raft-member-{1-5}.

In the beginning, we send ChangeConfiguration(raft-member-1, raft-member-2, raft-member-3) [bootstrap] messages to raft-member-{1-3}.

Later, we add two nodes raft-member-{4-5}. We send new ChangeConfiguration(raft-member-1, raft-member-2, raft-member-3, raft-member-4, raft-member-5) messages to all 5 members, except, the messages arrive to ra

[2015-05-18 04:33] colin-scott commented on #49
After reading the code more closely, it looks like ChangeConfiguration messages are supposed to be the way that joint consensus is triggered.

The behavior described in the [javadoc comment](https://github.com/ktoso/akka-raft/blob/master/src/main/scala/pl/project13/scala/akka/raft/protocol/RaftProtocol.scala#L86) is correct:

[code]

However, it appears that the doc does not match with how the cod

[2015-05-18 04:39] colin-scott commented on #49
Thinking about this a bit more, you shouldn't even need my complicated scenario above to trigger this behavior. If you just send the same ChangeConfiguration message to all nodes (once), but some of them are badly delayed or dropped, then you could have a situation where a raft member that hasn't received a ChangeConfiguration yet ends up issuing votes

[2015-05-18 04:43] colin-scott commented on #49
I have a replayable execution that tickles this behavior, if that's of any use.

[2015-05-18 09:42] ktoso commented on #49
Hi @colin-scott, yes a reproducer would be very welcome!
I have not yet been able to resume work on this project but plan to do so eventually sometime this month, which is when all such reproducers and the issues you raised will be invaluable to get the project up to shape :-)

Please post the reproducer (can be a gist, in line here, or a repo - whichever works best for you).

[2015-05-18 21:01] colin-scott commented on #49
Sounds good, I'll setup the reproducing scenario soon.

[2015-05-18 21:48] colin-scott commented on #49
A related issue:

Suppose we send a ChangeConfiguration(raft-member-1, raft-member-2) message to 4 different nodes: raft-member-1, raft-member-2, raft-member-3, raft-member-4. This is admittedly a little strange, since we're raft-member-3 and 4 are not themselves included in the ChangeConfiguration message we send them.

Regardless, the current behavior is the following: raft-member-3 and raft-mem

[2015-05-20 01:45] colin-scott commented on #47
I was able to minimize this test case further, by decreasing the cluster size.

Repro steps for smaller case:

[code]

Console [output](https://github.com/NetSys/sts2-experiments/blob/master/akka-raft-fuzz_2015_05_19_18_05_08_DDMin_STSSchedNoPeek_shrunk/replay.out#L35).

Messages delivered:

[code]

At the end of this, raft-member-7 and raft-member-8 are both elected as leader in the same term.

[2015-07-18 17:26] dmitraver commented on #47
@colin-scott Hi! I tried to run the test case that you provided but it appears that the code is changed and
after running

[code]
I get a lot of merge conflicts and I'm unable to run the test. I want to try fixing this issue and probably others too as I'm planning to use this library in my own project.

[2015-07-20 04:14] colin-scott commented on #47
Hey @dmitraver,

Thanks for pointing out the issue. I corrected the repro steps above; if you start the repro steps from scratch it should work.

(The `raft-shrunk-leader-safety` branch already has the correct dependencies, so there shouldn't be a need to pull in the subtree and merge)

Thanks!
-Colin

[2015-07-20 04:19] colin-scott commented on #47
@dmitraver for what it's worth, I think the root cause of this bug is described in this issue:

https://github.com/ktoso/akka-raft/issues/46

[2015-07-20 07:39] dmitraver commented on #47
@colin-scott Thx Colin! I will look into that.

[2015-07-20 08:49] ktoso commented on #47
Thanks guys! Still wasn't able to resume work on it, a lot of stuff on Akka itself needs shipping soon so focused my efforts there :)

One note:

Please don't if it's any real-life / production project – this implementation has been proven to not yet be correct so it would be a bad idea to use in a real project. *Safety first!*

[2015-07-20 09:56] dmitraver commented on #47
@ktoso Akka is awesome tool! I just want to contribute to this project :) I've seen a lot of issues was opened previously so will try to fix as much as I can and make a PR. This is not intended to be used in production(maybe later) but more for my own akka studies.

[2015-07-20 10:03] ktoso commented on #47
Awesome, for learning things on distributed systems and Akka + fixing things this project is ideal I think :-)
Looking forward to hear from you then – feel free to open/ask on issues if you have any trouble,

[2015-07-20 13:54] dmitraver commented on #47
@ktoso Thanks for support :)

[2015-07-23 12:46] dmitraver commented on #47
@colin-scott Hi Colin! I did some research recently and found that candidate doesn't recreate ElectionMeta when it receives a BeginElection message and therefore at the beginning of new election it has some votes that were received previously(possibly in the other terms too). I tried to change the following [line](https://github.com/ktoso/akka-raft/blob/master/src/main/scala/pl/project13/scala/akk

[2015-07-23 18:35] colin-scott commented on #47
Calling this a "test case" is a bit of a misnomer. Think of it as a
replayable execution. It replays by trying to deliver the same (equivalent)
messages it observed in the original execution. If some of those messages
become missing, e.g. after you modified the akka-raft code, it fails to
replay properly. Note though that that doesn't necessarily mean that you
fixed the bug.

I can show you how I

[2015-07-24 06:15] dmitraver commented on #47
I think I fixed that issue, now your test shows no errors and passes
successfully. The issue was with stale term number in VoteCandidate
message. I will make a PR soon. Thanks for your support. Your tests were
really helpful :)

2015-07-23 20:35 GMT+02:00 Colin Scott <notifications@github.com>:

--
Best wishes,
Dmitry Avershin.

[2015-08-01 19:48] colin-scott opened #50 "Delayed messages to self can cause leader to be elected without quorum"
Upon receiving an ElectionTimeout message, the Candidate [sends](https://github.com/ktoso/akka-raft/blob/master/src/main/scala/pl/project13/scala/akka/raft/Candidate.scala#L75) a BeginElection message to its clusterSelf.

It's possible that if the BeginElection message is delayed, the Candidate might vote for itself *twice*.

Specifically, consider the following scenario:
 - Candidate receives Ele

[2015-08-01 20:23] colin-scott opened #51 "Follower should not vote if Candidate has out-of-date log"
The raft paper states that a node should only grant a vote to a Candidate if *two* conditions hold:

* the follower hasn't already voted in its current Term (checked [here](https://github.com/ktoso/akka-raft/blob/master/src/main/scala/pl/project13/scala/akka/raft/Follower.scala#L24))

* The candidate’s log is at least as up-to-date as receiver’s log

The second condition is not currently checked b

[2015-08-01 21:11] colin-scott commented on #51
Oops, duplicate of https://github.com/ktoso/akka-raft/issues/30

[2015-08-01 21:11] #51 closed

[2015-08-01 21:16] colin-scott opened #52 "All nodes should transition to Follower if term > currentTerm"
From the raft paper:

• If RPC request or response contains term T > currentTerm:
set currentTerm = T, convert to follower (§5.1)

I don't believe this is implemented in any of the akka-raft states.

[2015-08-01 21:32] colin-scott commented on #52
This issue subsumes https://github.com/ktoso/akka-raft/issues/46

[2015-08-01 21:50] colin-scott opened #53 "Would get better performance if akka-raft used udp"
It [looks like](https://github.com/ktoso/akka-raft/blob/master/src/main/resources/cluster.conf#L23) akka-raft is configured by default to use TCP between nodes.

I would bet that the implementation could get notably better performance if it used UDP, by avoiding all of the extra network delays implied by TCP. The raft protocol should be resilient to message reorderings, etc.

[2015-08-01 23:56] ktoso commented on #53
That one would be really hard to change as Akka does not provide a transport over UDP yet (we're temped by it, but it would need a remoting rewrite).

I'll keep the ticked open as a reminder, but it's not something immediately actionable until an Akka remoting rewrite happens.

[2015-08-02 00:15] colin-scott commented on #45
Update: this issue does not depend on #29 being fixed. I was able to trigger it as follows:

- Candidate starts election in Term(1), sends RequestVote message to all peers
- Follower receives RequestVote, responds with VoteCandidate
- Candidate receives ElectionTimeout [before receiving VoteCandidate], increments its Term, sends RequestVote message to all peers.
- Same follower receives RequestVot

[2015-08-02 17:01] colin-scott opened #54 "Should reject AppendEntries if term < currentTerm"
Whoops, nevermind:

https://github.com/ktoso/akka-raft/blob/master/src/main/scala/pl/project13/scala/akka/raft/Follower.scala#L81

[2015-08-02 17:21] #54 closed

[2015-08-04 19:27] colin-scott opened #56 "Nodes should not forget who they voted for"
When a Candidate receives an AppendEntries message from a leader in the same term, it correctly steps down to Follower.

However, it currently [forgets](https://github.com/ktoso/akka-raft/blob/master/src/main/scala/pl/project13/scala/akka/raft/Candidate.scala#L67) who it voted for that term.

This can lead to two leaders being elected in the same term: the Candidate that stepped down may now vote

[2015-08-05 03:24] colin-scott opened #57 "votedFor Map grows without bound"
If you run akka-raft continuously, the votedFor hashmap continues to grow for every term increase. This can eventually lead to an OOM error.

Technically I think raft nodes should only need a single value for votedFor (the current term) rather than a Map containing every term.

[2015-08-06 08:00] dmitraver commented on #56
I don't quite understand how two leaders can be elected. When the the candidate that stepped down will start a new election he will increment his term and will start sending requests to all other members with a new term in a request and soon previous leader will discover that his term is out of date and will revert to the follower state.

[2015-08-06 10:56] colin-scott commented on #56
@dmitraver in this particular test case, when the candidate that stepped down starts a new election, it does indeed increment its term and send requests to all members. However, *those requests are delayed* indefinitely, so others do not step down immediately.

And, regardless of how long the requests are delayed for: Raft's "LeaderSafety" invariant states that at *no* point in time, should there

[2015-08-06 13:08] dmitraver commented on #56
Yep, I think that checking for correct term should be enough to solve this problem because members should also reject AppendEntries if they come from different term. Correct me if I'm wrong. Anyway I will fix the term handling for leader and see what is going on then and as I understand your test can be used to check this behavior. Could you please tell me how can I run it myself?

[2015-08-06 19:40] colin-scott commented on #56
Hm, I don't understand your point. Members currently do reject AppendEntries if they come from a lower term [see [Follower](https://github.com/ktoso/akka-raft/blob/master/src/main/scala/pl/project13/scala/akka/raft/Follower.scala#L59) and [Candidate](https://github.com/ktoso/akka-raft/blob/master/src/main/scala/pl/project13/scala/akka/raft/Candidate.scala#L69)].

Anyhow, here are the reproducing s

[2015-08-06 19:43] colin-scott commented on #56
As far as I can tell, the only remaining issue here is with this line of code:

https://github.com/ktoso/akka-raft/blob/master/src/main/scala/pl/project13/scala/akka/raft/Candidate.scala#L67

The Candidate forgets who it voted for when it steps down to Follower, and then votes again in the same term for someone else.

[2015-08-06 20:49] colin-scott opened #58 "LogMatch invariant violated"
Hello,

Through fuzz testing I found a test case that causes Raft's "Log Matching" invariant to be violated. "Log Matching" is defined as:

[code]

The crux of the bug seems to be the following: Upon transitioning from Candidate to Leader, the Candidate sends an `ElectedAsLeader` message to itself. It is possible that the newly elected Leader will receive `ClientMessage`s *before* the `ElectedAsLe

[2015-08-06 23:35] colin-scott commented on #58
Upon thinking about this a bit more:

Delayed nextIndex initialization is not the main issue here. That just causes a slight performance cost: it means that the Leader will have its AppendEntries messages initially rejected by followers, but the Leader will subsequently decrement nextIndex for those followers, resend the AppendEntries, and have them succeed.

The main issue here is that the initia

[2015-08-07 06:10] colin-scott opened #59 "Log consistency check is incorrect"
The log consistency check is currently implemented as follows:

[code]

I don't think the second disjunct is correct. The Raft paper states that the log consistency check should fail "if log doesn’t contain an entry at prevLogIndex whose term matches prevLogTerm".

So I think the second disjunct should be:

[code]

(assuming 1-indexed log entries, following the raft paper)

[2015-08-07 06:52] dmitraver commented on #56
Excellent work Colin. I will investigate your changes on a weekend and will update my pull request accordingly.

[2015-08-08 02:56] colin-scott commented on #29
For what it's worth, I have a (non-pull-request-worthy) fix for this here:

https://github.com/NetSys/sts2-applications/commit/4e733c46db4568b18d9240b7a4654f46d70787ae
https://github.com/NetSys/sts2-applications/commit/7fecff5925e76dd0e27c672089e4ca580d11b8db7fecff5925e76dd0e27c672089e4ca580d11b8db

[2015-08-08 02:59] colin-scott commented on #45
For what it's worth, I have a (non-pull-request-worthy) fix for this issue here:

https://github.com/NetSys/sts2-applications/commit/5130f1f51a931a86687c8bf80f014e2dfc9e2bbd

[2015-08-08 03:01] colin-scott commented on #56
For what it's worth, I have a (non-pull-request-worthy) fix for this issue here:

https://github.com/NetSys/sts2-applications/commit/ef443f51569f8167bbb548157dc9cfd312c1bb25

[2015-08-08 03:02] colin-scott commented on #50
For what it's worth, I have a (non-pull-request-worthy) fix for this issue here:

https://github.com/NetSys/sts2-applications/commit/3367d2df722e95030b5e0ca634c6e9f04eaa0777

[2015-08-08 03:22] colin-scott commented on #32
For what it's worth, I have a (non-pull-request-worthy) fix to this issue here:

https://github.com/NetSys/sts2-applications/commit/705f8de2e9de8f67f6b712478a1c1efee68e9612

[2015-08-08 03:23] colin-scott commented on #59
For what it's worth, I have a (non-pull-request-worthy) fix to this issue here:

NetSys/sts2-applications@705f8de

[2015-08-08 04:44] colin-scott commented on #33
For what it's worth, I have (non-pull-request-worthy) fix for this issue here:

[2015-08-08 05:04] colin-scott commented on #31
I think Candidate did previously catch timeouts correctly [[here](https://github.com/ktoso/akka-raft/blob/master/src/main/scala/pl/project13/scala/akka/raft/Candidate.scala#L73)], but you're right that it did not reset them properly on the Candidate -> Candidate transition after multiple elections fail.

For what it's worth, I have a (non-pull-request-worthy) fix for this issue here:

https://gith

[2015-08-08 05:07] colin-scott commented on #43
For what it's worth, I have a (non-pull-request-worthy) fix for this issue here:

https://github.com/NetSys/sts2-applications/commit/be4f00a27c740992e3d295e6d4f3a1f3b179c6ee

[2015-08-08 08:05] colin-scott opened #60 "Should"

[2015-08-08 08:34] colin-scott commented on #42
I have an execution trace that triggers this behavior:

In a four node cluster, the leader is raft-member-3. Right before receiving an AppendSuccessful from raft-member-2 for the 1st log entry [and before receiving AppendSuccessful messages from any other members], the leader's state is:

[code]

Upon receiving the message:

[code]

[It obviously should not have reached consensus at that point]

N

[2015-08-08 09:28] colin-scott commented on #58
For what it's worth, I have a (non-pull-request-worthy) fix for this issue here:

https://github.com/NetSys/sts2-applications/commit/1840499c07aecf10dbca9db050f41cb48212ca44

Tested by fuzz testing -- I verified that under non-failing scenarios, this behaves correctly at each step of the execution when replicated two client commands.

[2015-08-08 09:29] colin-scott commented on #48
A likely fix for this issue here [non-pull-request-worthy]:

NetSys/sts2-applications@1840499

[2015-08-08 09:30] colin-scott commented on #41
For what it's worth, I have a (non-pull-request-worthy) fix for this issue here:

NetSys/sts2-applications@1840499

Tested by fuzz testing -- I verified that under non-failing scenarios, this behaves correctly at each step of the execution when replicated two client commands.

[2015-08-08 09:31] colin-scott commented on #38
For what it's worth, I have a (non-pull-request-worthy) fix for this issue here:

NetSys/sts2-applications@1840499

Tested by fuzz testing -- I verified that under non-failing scenarios, this behaves correctly at each step of the execution when replicated two client commands.

[2015-08-08 09:32] colin-scott commented on #37
For what it's worth, I have a (non-pull-request-worthy) fix for this issue here:

NetSys/sts2-applications@1840499

Tested by fuzz testing -- I verified that under non-failing scenarios, this behaves correctly at each step of the execution when replicated two client commands.

[2015-08-08 12:37] ktoso commented on #56
@colin-scott I totally think all those fixes are definitely PR worthy actually! Thanks for the continued research/work on it!

[2015-08-08 14:17] dmitraver commented on #29
@colin-scott Are you planning to make a pull request with all your changes?

[2015-08-08 14:38] colin-scott commented on #60
Well, arguably a bug: it effectively decreases the fault-tolerance of the cluster by 1 for all terms where that leader is elected

[2015-08-08 14:39] ktoso commented on #60
Thanks for clarifying, classifying as bug

[2015-08-08 14:41] colin-scott commented on #56
Sure I can send in PRs, I just don't have time right now to write proper unit tests

[2015-08-08 14:43] ktoso commented on #56
I'd be more than happy to see those small fixes as PRs and would then add more and more tests (best to uncover what this specific PR fixes). I.e. I'd take it upon myself to add tests proving that the patch makes sense as described :)

[2015-08-08 14:57] colin-scott commented on #56
OK, sounds good -- I'll do that sometime today

[2015-08-08 14:58] colin-scott commented on #29
Yeah, @ktoso just suggested that I should. But some of them do depend on your #55, for what it's worth.

[2015-08-08 15:09] ktoso commented on #29
I'll look into #55 and others tonight so we can start rolling fixes in then :)

[2015-08-08 20:09] dmitraver commented on #29
@ktoso Good news :) I'm looking forward to that

[2015-08-08 23:34] ktoso opened #61 "Optimisation: Candidate can possibly retry on request vote if request delivered on lower currentTerm"
This:

[code]

as @colin-scott mentioned, perhaps could be improved to try again after becoming:

e.g.
[code]

[2015-08-09 00:29] colin-scott opened #62 "Any exception can cause two leaders to become elected in the same Term"
The Raft protocol assumes a crash-recovery failure model -- that is, it allows for the possibility that crashed nodes will come back (with non-volatile state intact).

Currently, akka-raft does not write anything to disk. That's actually fine -- it just means that akka-raft currently assumes a crash-stop failure model, where crashed nodes are never allowed to come back.

However, akka-raft should

[2015-08-09 10:56] ktoso commented on #62
Good catch (as always), initially I was planning to go for the persistent route.

The persistence layer could be done via akka-persistence, here's an old ticket for it https://github.com/ktoso/akka-raft/issues/7

[2015-08-13 01:04] colin-scott opened #63 "Leader should commit no-op entry upon election"
From the paper:

"Raft handles this by having each leader commit a blank no-op entry into the log at the start of its term."

[2015-08-13 01:08] colin-scott opened #64 "Client should attach serial numbers to ClientCommands"
From the raft paper:

"Our goal for Raft is to implement linearizable semantics (each operation appears to execute instantaneously, exactly once, at some point between its invocation and its response). However, as described so far Raft can execute a command multiple times: for example, if the leader crashes after committing the log entry but before responding to the client, the client will retry t

[2015-08-13 01:10] colin-scott opened #65 "Leader should contact majority before processing read-only request"
From the raft paper:

"a leader must check whether it has been deposed before processing a read-only request (its information
may be stale if a more recent leader has been elected). Raft handles this by having the leader exchange heartbeat messages with a majority of the cluster before responding to read-only requests"

[2015-08-13 01:16] colin-scott commented on #30
Fix for this, (to be pull-requested soon):

https://github.com/NetSys/sts2-applications/commit/d908f4a9ae61a14e0bfbc583cdebb016f63e1c76

[2015-08-13 17:50] colin-scott opened #66 "Should only delete entries if they conflict with a new one"
Found through fuzz testing:

Suppose a follower with an empty log receives an AppendEntries containing 2 entries. The follower appends these to its log.

Then the follower subsequently receives an AppendEntries containing only the first of the previous 2 entries. [This message was delayed].

[Currently](https://github.com/ktoso/akka-raft/blob/master/src/main/scala/pl/project13/scala/akka/raft/Foll

[2015-08-13 18:04] ktoso commented on #66
Great catch as always, thanks @colin-scott!

[2015-08-13 18:05] ktoso commented on #66
I might actually want to fix this right away, should be easily testable in isolation.

[2015-08-13 18:22] ktoso commented on #66
This is actually a bit weird, so allow me to re-cap the exact case the fuzz test found.
Do you mean that the same Leader sends those messages (same Term)?

- Akka guarantees that delivery order is consistent with send order (for a given pair of Actors A and B).
- If Leader L, sends the AppendEntries [1], and then AppendEntries [1,2], [1,2] will not be delivered "before" [1]. [1] may never arrive t

[2015-08-13 18:25] colin-scott commented on #66
You're absolutely right that this would only be triggered if you moved to UDP instead of TCP -- TCP guarentees in-order delivery, and this bug depends on a delayed message falling behind a later message  between the same sender and receiver.

[2015-08-13 18:27] colin-scott commented on #66
It's possible that you could trigger this with 2 different leaders? Not sure. But my fuzz test only involved a single leader sending the AppendEntries messages.

*Is it Akka that guarantees in-order delivery, or is it TCP?

[2015-08-13 18:30] colin-scott commented on #66
Interesting, akka does appear to guarentee in-order delivery:

[2015-08-13 18:37] colin-scott commented on #66
Ah, and in fact, there is a discussion on that same page about possibly removing that guarentee in the future:

http://doc.akka.io/docs/akka/snapshot/general/message-delivery-reliability.html#How_does_Local_Ordering_relate_to_Network_Ordering

[2015-08-13 18:40] colin-scott commented on #66
Well, my fuzzer does [support](https://github.com/NetSys/sts2-interposition/blob/master/src/main/scala/verification/schedulers/RandomScheduler.scala#L684) an in-order delivery constraint, so I guess I'll switch to that for the time being.

[2015-08-13 18:42] colin-scott commented on #42
For what it's worth, I have a fix for this (soon to be pull-requested) here:

https://github.com/NetSys/sts2-applications/commit/60c330f1ed958b8ae4350bc85698878899c20a57

[Assumes 1-indexed logs]

[2015-08-13 19:56] ktoso commented on #42
Great :) I don't mind switching to 1-indexed along the way, makes things more consistent with the paper => easier to follow the code.

[2015-08-13 20:21] ktoso commented on #66
Correct - currently remoting is over TCP, and the ordering guarantee of "direct point to point communication" holds there. We are not currently looking into supporting UDP directly (however are very tempted by https://github.com/real-logic/Aeron which does works as a *log* as well, so that log is ordered).

[2015-08-14 09:40] ktoso commented on #66
Hi @colin-scott, we talked about the docs and current implementation in the 2.3 and 2.4 series of Akka. The doc is slightly out of date - we'll update it soon https://github.com/akka/akka/issues/18209

The guarantee holds mostly because of TCP, however since there can be re-established connections Akka does actually have to to a bit more than just rely on TCP (if a new connection comes in, while t

[2015-08-14 19:36] colin-scott commented on #66
Yeah, feel free to close this issue

[2015-08-14 20:08] #66 closed

[2015-08-14 20:08] ktoso commented on #66
Yup, done :)

[2015-08-14 20:43] ktoso opened #76 "Add tests for merged fixup"
Add tests that validate the vulnerabilities exposed by #30, #32, #33, #37, #38, #41, #42, #48, #58, #59
are indeed fixed by https://github.com/ktoso/akka-raft/pull/75

[2015-09-09 06:36] dmitraver commented on #57
I will make a PR soon.

[2015-09-10 06:46] dmitraver commented on #53
Good point. @ktoso Are you considering contributions for features like that?

[2015-09-14 22:38] #57 closed

[2015-09-14 22:39] ktoso commented on #57
Thanks guys, agree that it's safe to only keep the `votedFor` :)

[2015-09-15 13:32] dmitraver commented on #53
It looks like akka remoting supports transport via udp. Netty transport has an udp mode. I've just tried to change the activator template akka-sample-remote-scala to use udp
[code]

and it works.

[2015-09-15 13:34] ktoso commented on #53
I wouldn't say this is a direction I'd like to pursue currently, first I'd like to nail correctness.
Since this will be most likely used in Akka Clusters, TCP makes much sense in there, therefore switching to UDP does not seem very realistic for those kinds of deployments (at least with the current remoting impl).

It's a neat idea, but I'd rather stash it for now.

[2015-10-09 08:13] dmitraver commented on #62
I'm working on it. Also I think it makes sense to update the libraries to the current akka version, at least the persistence module is no longer marked as experimental in 2.4.

[2015-10-09 08:14] ktoso commented on #62
Thanks @dmitraver!
Yeah, it makes sense to upgrade to 2.4, not only because of that, but also because a lot of cluster things have improved stability now.

[2015-10-09 09:20] dmitraver opened #78 "Most of the tests are failing"
I've discovered that most of tests(not multi jvm) are failing right now with the following message:

[code]

I think its somehow connected to the recent fixes. I will look into that as well.

[2015-10-09 16:16] colin-scott commented on #78
The log indices have changed (to 1-indexing), but the tests haven't.
Definitely need to update the tests! Should be fairly straightforward.

On Fri, Oct 9, 2015, 2:40 AM Dmitry Avershin <notifications@github.com>
wrote:

[2015-10-11 07:52] dmitraver commented on #78
@colin-scott Thx for clarifying! I will fix them as well.

[2015-12-23 07:38] mattchan123 commented on #6
Hi ktoso

Please, tell me how to run multi-jvm in several terminal, I mean one terminal is for one jvm.

Thank you

[2015-12-23 08:30] ktoso commented on #6
That's now how those work - all JVMs are started and orchestrated by one process.
Please read http://doc.akka.io/docs/akka/snapshot/dev/multi-node-testing.html
and http://www.blog.project13.pl/index.php/fun/1915/testing-leader-election-in-raft-using-akka-without-thread-sleep/

[2015-12-24 07:40] mattchan123 commented on #6
Hi ktoso

Actually I want to kill elected leader then re-electing new leader. So how
can we do that via terminal.

Thank you

On Wednesday, December 23, 2015, Konrad Malawski <notifications@github.com>
wrote:

--
Muhammad Khoirul Hasin
114756
School of Engineering and Technology
Field of Information Management
Asian Institute of Technology, Thailand

[2015-12-24 09:14] ktoso commented on #6
It's not a CLI tool, as I explained :-)
Please read the documentation linked above.

You can kill nodes, but from within the test.

If you want to do such things from CLI, simply start multiple JVMs manually.

-- Konrad

On 24 December 2015 at 08:41:05, mattchan123 (notifications@github.com) wrote:

Hi ktoso

Actually I want to kill elected leader then re-electing new leader. So how
can we do that

[2015-12-24 10:05] mattchan123 commented on #6
OK. now I understood. Thank you so much.

On Thursday, December 24, 2015, Konrad Malawski <notifications@github.com>
wrote:

--
Muhammad Khoirul Hasin
114756
School of Engineering and Technology
Field of Information Management
Asian Institute of Technology, Thailand

[2016-01-13 02:57] colin-scott commented on #61
This optimization can be applied in a bunch of places. Basically, whenever *any* nodes receives a message that has a higher term, it should forward that message to itself before updating its term.

[2016-01-13 03:01] colin-scott opened #80 "Perfomance issue: should overwrite log entries, even if AppendEntries is empty"
I think this conditional should not be there:

https://github.com/ktoso/akka-raft/blob/master/src/main/scala/pl/project13/scala/akka/raft/Follower.scala#L118

[a newly elected leader should be able to tell other nodes to delete all contents of their logs]

[2016-01-18 21:12] colin-scott opened #81 "Leader should cancel SendHeartbeat timer when it steps down"
It currently doesn't, leading to unnecessary message sends.

[2016-04-23 10:58] dmitraver commented on #81
I think its already implemented
https://github.com/ktoso/akka-raft/blob/master/src/main/scala/pl/project13/scala/akka/raft/Leader.scala#L53

https://github.com/ktoso/akka-raft/blob/master/src/main/scala/pl/project13/scala/akka/raft/Leader.scala#L65

[2016-05-07 15:11] dmitraver commented on #62
@ktoso
I actually implemented the desired behaviour that ensures that non-volatile state such as **votedFor** and **currentTerm** is persisted. I used persistent FSM for that. However, it looks like **TestFSMRef** class that is used almost everywhere in tests doesn't support the FSM persistent actors cause I'm getting the following error:
`
Error:(18, 29) Cannot prove that pl.project13.scala.akka.

[2016-05-07 15:15] ktoso commented on #62
Sounds great, thanks for your work.
I think the project should move away from test actor ref in any case by the
way, so that would be another reason to do so.

--
Konrad Malawski

From: Dmitry Avershin <notifications@github.com> <notifications@github.com>
Reply: ktoso/akka-raft
<reply@reply.github.com>
<reply@reply.github.com>
Date: 7 May 2016 at 17:11:35
To: ktoso/akka-raft <akka-raft@noreply.git

[2016-05-07 15:18] dmitraver commented on #62
Sounds good to me but what are other alternatives? I haven't had a lot of experience with akka testing so my knowledge is a bit limited here :) I can fix the tests and make a PR request once its ready .

[2016-05-07 15:22] ktoso commented on #62
Just normal messaging using actors and test probes.
I'll likely lose internet soon now (airborne), but will try to carve out
some time to give you hints if more needed.

Thanks for hakking on the project :)

--
Konrad Malawski

From: Dmitry Avershin <notifications@github.com> <notifications@github.com>
Reply: ktoso/akka-raft
<reply@reply.github.com>
<reply@reply.github.com>
Date: 7 May 2016 at 17:

[2016-05-07 15:28] dmitraver commented on #62
Thanks, its real fun :) I will try to fix the tests then and hopefully make a PR soon.

[2016-05-09 08:44] dmitraver commented on #62
I investigated the test logic a bit more and found that actually the whole test suit relies on **TestActorRef** and **TestFsrRef**. There are three "unit" tests that use **TestFsmRef** - Leader/Follower/Candidate Tests. Other "integration" tests use **TestActorRef/TestFsmRef** indirectly in RaftSpec. The whole test suite and almost all of the tests should be rewritten to use plain actors and I thi

[2016-06-30 15:58] #62 closed

[2016-07-21 12:41] dmitraver commented on #78
@ktoso Hi! I was able to rewrite some of the broken tests like FollowerTest using a message subscription however I have a problem that the tests are passed only when I run **anyone** of them. If I run **all** tests from one class some of them fail. The reason for this is that once the cluster is started its shared by all tests and when the leader is elected we no longer get messages like "BecomeFo

[2016-09-28 09:30] dmitraver opened #85 "Hacktoberfest"
Hi @ktoso!

Would you consider adding a "hacktoberfest" label to some of the tickets that the project can participate in upcoming Hacktoberfest? Would be awesome :)

https://hacktoberfest.digitalocean.com/

I see that there are no scala projects yet. Would be nice to have it for akka as well.

[2016-11-18 16:35] #85 closed, assigned to nobody

[2016-11-18 16:36] ktoso commented on #85
Seems I missed this email / thread, sorry about that :)
Hope to participate next time.

[2016-11-19 16:57] dmitraver commented on #85
Hi! Yeah, that would be awesome :) Btw I'm planning to start working on the
project again. Hoping to fix the broken tests and see what else can be
improved.

On 18 November 2016 at 17:36, Konrad Malawski notifications@github.com
wrote:

##

Best wishes,
Dmitry Avershin.